
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hackaton Trujillo 2017</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/landing-page.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Hackaton Trujillo 2017</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">¡Qué es?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cronograma del evento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jurado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ganadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sponsors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
        <div class="container">
            <div class="intro-message">
                <h1>Hackaton Trujillo 2017</h1>
                <h3>Integración por Trujillo</h3>
                <hr class="intro-divider">
                <a href="#" class="btn btn-secondary btn-lg btn-block">
                    <i class="fa fa-hand-o-right fa-fw"></i>
                    <span class="network-name">¡¡Regístrate ahora!!</span>
                </a>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/events/485161775203464/" class="btn btn-secondary btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Facebook</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 ml-auto">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Qué es?</h2>
                    <p class="lead">
                        Es nuestra primera Hackaton en la ciudad buscando generar un espacio para que los jóvenes muestren sus habilidades e innovación tecnológica y desarrollen soluciones prácticas a los desafíos ODS.
                        No pierdas la oportunidad de mostrar tu talento.
                    </p>
                </div>
                <div class="col-lg-5 mr-auto">
                    <img class="img-fluid rounded" src="~/Content/img/hackaton-info.jpg" alt="">
                </div>
                <div class="col-lg-12 ml-auto">
                    <div class="row mx-auto justify-content-lg-center">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="text-center img-section1">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-usd fa-stack-1x"></i>
                                </span>
                            </div>
                            <p class="title-part text-center">Gratis</p>
                            <p class="text-center">Es gratuita la participación</p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center img-section1">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-calendar-o fa-stack-1x"></i>
                                </span>
                            </div>
                            <p class="title-part text-center">¿Cuándo?</p>
                            <p class="text-center">18 de noviembre</p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center img-section1">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-map-marker fa-stack-1x"></i>
                                </span>
                            </div>
                            <p class="title-part text-center">¿Donde?</p>
                            <p class="text-center"><a href="https://www.facebook.com/CC.LosConquistadores/">Centro de  de Convenciones Los Conquistadores</a></p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center img-section1">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-clock-o fa-stack-1x"></i>
                                </span>
                            </div>
                            <p class="title-part text-center">Hora</p><p class="text-center">7 a.m.</p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center img-section1">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-flag fa-stack-1x"></i>
                                </span>
                            </div>
                            <p class="title-part text-center">Duración</p>
                            <p class="text-center">12 horas</p><div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            
            <!-- /.container -->
        </div>
    </section>

    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-10 mr-auto order-lg-1">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Desafios<br>ODS</h2>
                    <p class="lead">
                        Tenemos 3 categorías en base a los <a target="_blank" href="http://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/">Objetivos de Desarrollo Sostenible.</a>
                        Estos son:
                    </p>
                </div>
                <div class="col-lg-4 ml-auto text-center bg-secondary order-lg-2">
                    <img class="rounded" height="150" src="~/Content/img/impacto-ambiental-6.jpg" alt="">
                    <p class="section-heading">OBJETIVO 13. <br> ACCIÓN POR EL CLIMA</p>
                    <p class="lead">Impacto ambiental</p>
                </div>
                <div class="col-lg-4 ml-auto text-center bg-light order-lg-2">
                    <img class="rounded" height="150" src="~/Content/img/empresa.jpg" alt="">
                    <p class="section-heading">OBJETIVO 08. <br> TRABAJO DECENTE Y CRECIMIENTO ECONÓMICO</p>
                    <p class="lead">Formalización de empresas</p>
                </div>
                <div class="col-lg-4 ml-auto text-center bg-secondary order-lg-2">
                    <img class="rounded" height="150" src="~/Content/img/519915677.jpg" alt="">
                    <p class="section-heading">OBJETIVO 11. <br> CIUDADES Y COMUNIDADES SOSTENIBLES</p>
                    <p class="lead">Prevención de desastres</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 ml-auto order-lg-2">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Talleres previos</h2>
                    <p class="lead">Los retos son los siguientes: </p>
                    <ul>
                        <li>Ponencia general: Identificando los desafíos ODS</li>
                        <li>Tecnologías web: Novedades de C# y Java</li>
                        <li>Tecnologías móviles: Novedades de Xamarin y Android Studio</li>
                        <li>Testing: Novedades de Selenium</li>
                    </ul>
                </div>
                <div class="col-lg-4 mr-auto order-lg-1">
                    <img class="img-fluid" src="~/Content/img/global-goals-logo-share.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <section class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-2 ml-auto order-1">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Criterios</h2>
                    <p class="lead">Descarga las bases aquí:</p><br />
                    <a class="lead" href="https://comunidadupnedu-my.sharepoint.com/personal/61711_upn_pe/_layouts/15/guestaccess.aspx?docid=0d6cd728224c9410eb74e955e0e68c932&authkey=AWnafGixUegppWQRjIm-0h0&expiration=2017-11-30T05%3a00%3a00.000Z">Bases</a>
                </div>
                <div class="col-lg-10 mr-auto order-2">
                    <img class="img-fluid" src="~/Content/img/criteria-detail.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h2>Participa ahora:</h2>
                </div>
                <div class="col-lg-6 my-auto">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary btn-lg">
                                <i class="fa fa-pencil fa-fw"></i>
                                <span class="network-name">Regístrate</span>
                            </a>
                        </li>
                        @*<li class="list-inline-item">
                            <a href="#" class="btn btn-secondary btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">Github</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary btn-lg">
                                <i class="fa fa-linkedin fa-fw"></i>
                                <span class="network-name">Linkedin</span>
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </aside>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Home</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#about">About</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#services">Services</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">
                Made with <i class="fa fa-heart fa-fw"></i> in Trujillo. <br />
                Deployment & Copyright &copy; Vulk Technologies 2017. All Rights Reserved
            </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>